<!DOCTYPE html>
<html>
<head>
    <title>MoonUnit</title>
    <script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="static/js/controls.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/app.css"/>
</head>
<body>
    <form>
        <input type="text" name="degrees" id="in_degrees"> degrees
        <div><button class="go" id="go_up">up</button></div>
        <div><button class="go" id="go_down">down</button></div>
        <div><button class="go" id="go_left">left</button></div>
        <div><button class="go" id="go_right">right</button></div>
        <hr>
        <div><button class="go" id="home_1">Home 1</button></div>
        <div><button class="go" id="home_2">Home 2</button></div>
        <div><button class="go" id="home_all">Home All</button></div>
    </form>
    <h3>Request</h3>
    <div id="request_output" class="output json"></div>
    <h3>Response</h3>
    <div id="response_output" class="output json"></div>
    <button id="clear_outputs">Clear</button>
</body>
</html>