<!DOCTYPE html>
<html>
<head>
    <title>Docs - MoonUnit</title>
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/github-markdown.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/doc.css"/>
</head>
<body>
    <div class="doc-wrapper">
    <div class="markdown-body">
        <%- html %>
    </div>
</body>
</html>