[Unit]
Description=Shutdown Button

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /var/lib/local/power-switch/powerswitch.py

[Install]
WantedBy=multi-user.target
